<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <session-config>
        <session-timeout>3600</session-timeout> <!-- Set session timeout in minutes -->
    </session-config>
    
    <filter>
        <filter-name>RouteAuthentication</filter-name>
        <filter-class>com.fb.facebook.controllers.AuthenticationController</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RouteAuthentication</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/home</url-pattern>
    </filter-mapping>
</web-app>